html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Dice Game
        style.
            .value {
                padding: 8px;
                margin: 8px;
            }
    body
        h1 Dice Game
        
        button(id="btn", style="width: 100px;") Bet
        
        div(style="margin: 8px; padding: 8px;") Bet By Number
        div
            span(class="value") 1
            span(class="value") 2
            span(class="value") 3
            span(class="value") 4
            span(class="value") 5
            span(class="value") 6
        br
        div Money &ensp;
            span(id="mon") Mon
            span &ensp;Ks
        br
        div Bet Number: &emsp;
            input(type="number", name="betnum", value="1", id="betnum")
            span(id="info", style="display: none;") Invalid Bet Number
        br
        div Bet Value: &emsp;
            input(type="number", name="betval", value="500", id="betval")
            span &ensp;Ks
            span(id="valinfo", style="display: none;") Invalid Bet Value
        
        script.
            try {
                
                let money = 100000;
                
                const mon = document.getElementById('mon');
                const bet = document.getElementById('betnum');
                const betval = document.getElementById('betval');
                const info = document.getElementById('info');
                const valinfo = document.getElementById('valinfo');
                const btn = document.getElementById('btn');
                const values = document.getElementsByClassName('value');

                function setMoney() {
                    mon.innerText = money;
                }
                setMoney();

                betval.addEventListener('change', ()=>{
                    if (betval.value < 500 || betval.value > 100000) {
                        valinfo.style.display = "block";
                    } else {
                        valinfo.style.display = "none";
                    }
                });
                bet.addEventListener('change', ()=>{
                    if (bet.value < 1 || bet.value > 6) {
                        info.style.display = "block";
                    } else {
                        info.style.display = "none";
                    }
                });
                
                function getRandomInt(min, max) {
                    const randomBuffer = new Uint32Array(1);
                    window.crypto.getRandomValues(randomBuffer);
                    let randomNumber = randomBuffer / (0xffffffff + 1);
                    min = Math.ceil(min);
                    max = Math.floor(max);
                    return Math.floor(randomNumber * (max - min + 1)) + min;
                }
                btn.addEventListener('click', () => {
                    for (let i=0;i<6;i++) {
                        values[i].style.backgroundColor = 'white';
                        values[i].style.color = 'black';
                    }
                    let x = getRandomInt(0,5);
                    values[x].style.backgroundColor = 'blue';
                    values[x].style.color = 'white';
                    if (bet.value == x+1) {
                        money = money + betval.value * 2;
                    } else {
                        money = money - betval.value;
                    }
                    setMoney();
                });
            } catch (e) {
                alert(e);
            }