html
    head
        title Login to Account
        link(rel="stylesheet", href="static/style.css")
    
    body
        h1 Login to your account
        form
            label(method="Post") Email
                input(type="email", name="email")
            br
            label Password
                input(type="password", name="password")
            br
            input(type="submit", value="Login")
            